# Custom
run.sh

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packaging
build/
dist/
.eggs/
*.egg-info/
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
.hypothesis/

# Django/Flask/DB/Server stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Sphinx docs
docs/_build/

# Jupyter
.ipynb_checkpoints

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs & Editors
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea/
.spyderproject
.spyproject
.ropeproject

# Misc. tools
.pyre/
.mypy_cache/
.dmypy.json
.pyre/
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py
target/
/site

# Data, Models & outputs
*.h5
*.h5py
*.tar
*.tar.gz
*.gz
*.parquet
*.npy
*.npz
*.pth
*.pt
*.jit
*.csv
*.json
configs/local/default.yaml
.env
.autoenv
logs
logs/
outputs

# Visuals
*.png
*.jpg
*.jpeg
*.pdf