_target_: src.modules.single_module.SingleLitModule

defaults:
  - _self_
  - network: eeg.yaml

optimizer:
  _target_: torch.optim.Adam
  lr: 0.001
  weight_decay: 0.0001

scheduler:
  scheduler:
    _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
    mode: "max"
    factor: 0.5
    min_lr: 1.0e-6
    patience: 5
  extras:
    monitor: ${replace:"__metric__/valid"}
    interval: "epoch"
    frequency: 1

logging:
  on_step: false
  on_epoch: true
  sync_dist: false
  prog_bar: true

